    <div  class="person-container">
      <span style="font-weight: bold">Name: </span>{{ person?.name }}
    </div>
    <div>
      <span style="font-weight: bold">Surname: </span>{{ person?.surname }}
    </div>
    <div>
      <span style="font-weight: bold">Age: </span>{{ person?.age }}
    </div>
    <div>
      <span style="font-weight: bold">Gender: </span>{{ person?.gender }}
    </div>
    <div>
      <span style="font-weight: bold">Last Time Seen: </span>{{ person?.lastTimeSeen | date:'medium' }}
    </div>
    <div>
      <span style="font-weight: bold">Still Missing: </span>{{ person?.stillMissing ? 'Yes' : 'No' }}
    </div>
    <div>
      <span style="font-weight: bold">Missing Details: </span>
      <div class="missing-details">
        <div><span style="font-weight: bold">Description: </span>{{ person?.missingDetails?.description }}</div>
        <div><span style="font-weight: bold">Reported By: </span>{{ person?.missingDetails?.reportedBy }}</div>
        <div><span style="font-weight: bold">Assigned To: </span>{{ person?.missingDetails?.assignedTo }}</div>
        <div><span style="font-weight: bold">Progress: </span>{{ person?.missingDetails?.progress }}</div>
      </div>
    </div>
    <hr>

  