<!-- eslint-disable @angular-eslint/template/elements-content -->
<button (click)="navigateToCreateQuiz()" pButton type="button" label="Create New Quiz" class="p-button-rounded p-button-outlined create-quiz-button"></button>
<div class="filter-option">
    <p>Filter by Category:</p>
    <select [(ngModel)]="filterByCategory" (change)="applyFilters()">
        <option value="all">All</option> 
      <option *ngFor="let category of categoryOptions" [value]="category">{{ category }}</option>
    </select>
    <p>Filter by title</p>
    <input type="text" [(ngModel)]="filterByTitle" (input)="applyFilters()">

    <p>Show only with likes</p>
    <input type="checkbox" (change)="toggleShowOnlyWithLikes($event)">

    <div class="sorting-dropdown">
        <div class="sort-by-container">
            <p>Sort by:</p>
            <select [(ngModel)]="sortBy" (change)="applyFilters()">
                <option value="default">Default</option>
                <option value="most-likes">Most Likes</option>
                <option value="name">Name</option>
                <option value="date">Date</option>
            </select>
        </div>
    </div>
</div>
