<header class="app-header">

  <!-- <div (click)="redirectTo('/home')" (keydown.enter)="redirectTo('/home')" tabindex="1" class="branding">
    <h1>QuizMaster</h1>
  </div> -->
<app-branding></app-branding>


  <div class="search-container">
    <input pInputText placeholder="Search quizzes" class="p-inputtext p-mr-2">
  </div>

  <div class="auth-actions">
    <app-sing-in-button *ngIf="!isAuthenticated()" class="sing-in"></app-sing-in-button>
    <app-sing-up-button *ngIf="!isAuthenticated()" class="sing-up"></app-sing-up-button>
    <app-menu *ngIf="isAuthenticated()" class="menu"></app-menu>
  </div>


</header>