@import "../../../core/constants/colors.scss";
.app-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary_color;
  padding: 10px;
  margin: 0;
  margin-bottom: 2rem;

  .branding {
    cursor: pointer;
    transition: background-color 0.3s ease;
    

    &:hover {
      background-color: $hover_primary_color;
 
    }

    h1 {
      margin: 0;
      padding: 10px;
    }
  }

  .search-container {
    margin-left: 10px;
 
    flex:1; // .search-container will take up all available space along the main axis inside the flex container. 
    //so with it buttons and brnading are pushed to the edges not leaving maring
    display: flex;
    justify-content: center;

    .p-inputtext {
        width: 80%; 
    }
  }


  .auth-actions {
    display: flex;

  }

  @media screen and (max-width: 768px) {

    input[type="text"] {
        width: 100%; 
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px; 
    }

.search-container{
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 0px;
  padding-right: 0px;
}



  
}
}
