<header class="app-header">

    <div (click)="redirectToHome()" (keydown.enter)="redirectToHome()" tabindex="1" class="branding">
      <h1>QuizMaster</h1>
    </div>

      <div class="search-container">
        <input pInputText placeholder="Search quizzes" class="p-inputtext p-mr-2">
      </div>

      <div class="auth-actions">
        <button pButton type="button" label="Sign In" class="p-button p-button-rounded p-mr-2">Sign in </button>
        <button pButton type="button" label="Sign Up" class="p-button p-button-rounded">Sing up</button>
      </div>


  </header>
  