/* alert.component.css */

.alert-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .alert {
    max-width: 400px;
    width: 100%;
    padding: 1rem;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #721c24;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .close:hover {
    opacity: 0.75;
  }
  