
<div class="container p-3 mb-3 bg-beige border rounded">
    <button (click)="handeDelete()"><i class="bi bi-trash"></i></button>
    
    <app-modal
      *ngIf="showModal"
      [title]="'Delete'"
      [body]="'Are you sure you want to delete this record?'"
      [showModal]="showModal"
      (confirm)="handleConfirm($event)"
      (closeM)="handleClose()"

    ></app-modal>
  
    <p class="mb-2 mt-2">Still missing: {{ person.stillMissing }}</p>
    <p class="mb-2 mt-2">Name: {{ person.name }}</p>
    <p class="mb-2 mt-2">Surname: {{ person.surname }}</p>
    <a [routerLink]="['/details', person.id]" [appDisabledLink]="!checkAcces()" class="btn btn-link" >
      View Details
    </a>
    <!-- <p class="mb-2 mt-2">Age: {{ person.age }} </p>
    <p class="mb-2 mt-2">Gender: {{ getGenderString(person.gender) }}</p>
    <p class="mb-2 mt-2">City: {{ person.city }}</p>
    <p class="mb-2 mt-2">Last time seen: {{ person.lastTimeSeen | date: 'medium' }}</p> -->
  </div>
  