@import '../../../../core/constants/colors.scss' ;
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-bottom: 5rem;

  
    h1 {
      font-size: rem;

 
    }
  }
  
  .wrapper-content {
    width: 80%; 
    max-width: 700px; /* Maximum width to avoid overly wide containers on larger screens */
    text-align: left; 
  }
  
  .question {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .answers {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-left: 10px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  button {
    margin-left: 10px;
    color:$secondary_color ;
    background-color: white;
    border: 1px solid $secondary_color;
    border-radius: 20px; 
    transition: border 0.3s ease;

    &:hover {
      border: 1px solid darken($secondary_color, 10%);
      box-shadow: 0 0 10px darken($secondary_color,10%); /* Add a white glowing border on hover */
    }

    
  }
  .retry{
    background-color:white;
    color: $secondary_color;
  }

  .button-group {
    display: flex;
    gap: 10px; 
    margin-bottom: 10px;
  
  }