@import '../../constants/colors.scss';

.signin-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: $primary_color_light;

 
  .card {
    margin-top: 40px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px; 
    padding: 2rem;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    form {
      .form-group {
        margin-bottom: 15px;

        label {
          display: block;
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ced4da;
          border-radius: 3px;
          box-sizing: border-box;
        }
      }

   
      button {
        width: 100%;
        background-color: $darker_primary_color; 
        border: 1px solid $darker_primary_color; 
        border-radius: 5px;
        color: white;
        padding: 10px;
        cursor: pointer;
    
        &:hover {
          background-color: lighten($darker_primary_color, 10%);
          border: 1px solid lighten($darker_primary_color, 10%);
        }
      }
    }
  }

  .custom-button{
    margin-top: 4rem;
  

}

.error{
  color: red;
  text-align: center;
margin-top: 0;
margin-bottom: 1rem;
}
}