.quiz-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .quiz-card {
        border:solid 2px #ccc;
        border-radius: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      text-align: center;
      transition: transform 0.3s;


  &:hover {
    transform: scale(1.05); 
    cursor: pointer;
 
  }
  
      .quiz-image {
      width:30vh;
       height: 20vh;
      background-color: aqua;
        margin-bottom: 10px;
      }
  
      .quiz-title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .quiz-description {
        margin-bottom: 10px;
      }
  
      .quiz-author,
      .quiz-creation-date,
      .quiz-num-questions,
      .quiz-likes {
        font-size: 0.9rem;
        color: #555;
      }
    }
  
  