@import '../../../../core/constants/colors.scss';
.question {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  
  
  .answers {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-left: 10px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  .correct {
    background-color: lighten($success_color,20%);
    border-radius: 20px;
    color: white;
  }
  
  .incorrect {
    background-color: lighten($fail_color,10%);
    border-radius: 20px;
    color: white;
  }
  
}