.bought-item {
    text-decoration: line-through;
    color: #999;
  }

  .custom-width-list {
    max-width: 600px; 
    margin: auto; 

  }

  .btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #dc3545; 
    border-color: #dc3545; 
    color: #fff; 
    border-radius: 0.2rem;
  }
  
.btn-delete-all{
    color: #fff;
    border: none;
}

