$primary_color: #90BE6D;
$primary_color_light: #c7deb5;
$secondary_color: #EA9010;
$border_color: #37371F;
$image_color:#EAEFBD;
$success_color:#6fbe74;
$fail_color:#be746f;
$darker_primary_color: #77ac4d;