

nav {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      
      li {
        margin-right: 20px;
        
        a {
          text-decoration: none;
          color:white; 
          
          &:hover {
            color: #d0c4c4;
          }
        }
      }
    }
  }
  