<div class="container">
    <h4>Shopping List</h4>
  
    <div class="row align-items-start mb-3">
      <input
        placeholder="Input new item"
        type="text"
        id="newItem"
        class="form-control col"
        [(ngModel)]="newItem"
        (keyup.enter)="addItem()"
      />
      <button (click)="addItem()" class="btn btn-primary col-md-2">Add</button>
    </div>
  
    <ul class="row align-items-start list-unstyled" >
      <li *ngFor="let item of items" class="col-md-10">
        <app-product-item (clickRemove)="removeItem(item)" [item]="item"></app-product-item>
      </li>
    </ul>
  </div>
  